

<div  class="row">
    <div class="col">
      
        <input #termino type="text" (keyup)="buscar(termino.value)" class="form-control" placeholder="Buscar artista">
        <app-loading class ="m-5" *ngIf="loading && !error"></app-loading>
        <div *ngIf="error" class="alert alert-danger animated fadeIn">
            <h3>Error</h3>
            <p>
                {{errorMsg}}
            </p>
        </div>

    </div>
</div>

<app-tarjetas *ngIf="!loading && !error" [items]="artistas"> </app-tarjetas>